<div class="row">
    <div class="col-12">
        <div class="jumbotron text-center bg-light" id="quote-header">
            <blockquote class="blockquote">
                <h4 class="display-4">
                    “Every dog has his day, unless he loses his tail, then he has a weak-end.”
                </h4>
                <footer class="blockquote-footer"><cite class="lead font-italic">June Carter Cash</cite></footer>
            </blockquote>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <p class="h2 text-center">Good Bois 
        <span class="lead">Pet these good bois!</span>
        </p>
        <hr>
        <ul>
            {{#each dogs}}
            {{#unless isGoodBoy}}
            {{> dogs/dog-block isGood=true}}
            {{/unless}}
            {{/each}}
        </ul>
    </div>

    <div class="col-6">
        <p class="h2 text-center">Excited Bois 
        <span class="lead">Tell these excited bois to sit!</span>
        </p>
        <hr>
        <ul>
            {{#each dogs}}
            {{#if isGoodBoy}}
            {{> dogs/dog-block isGood=false}}
            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>
<div class="col-12 text-center">
    <div class="jumbotron bg-light">
    <h1 class="display-4">Add a Dog</h1>
    <p class="lead">(Please, no cats...)</p>
    <form class="create-form">

        <div class="form-group">
            <label for="dog">Dog Name:</label>
            <input type="text" id="dog" name="doggy_name">
        </div>
        <div class="form-group">
            <label for="type">Dog Type:</label>
            <input type="text" id="type" name="doggy_type">
        </div>

        <div class="form-group">
            <label for="isGoodBoy"><strong>Is a good boy?</strong></label><br>
            <input type="radio" name="isGoodBoy" value="1" checked>Is a good boy!
            <input type="radio" name="isGoodBoy" value="0">Not a good boy
        </div>
    </div>
</div>
<div class="col-12">
    <button id="bottom-button" class="btn btn-lg btn-block btn-primary" type="submit"><i class="material-icons">add</i> Add Dog</button>
    <br>
</div>
</form>